doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 User List
    ul
      each user in users
        li
          a(href=`/users/${user.id}`) #{user.name}
