<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="<%= favicon %>">
</head>

<body>
  <h1>
    <%= article.title %>
  </h1>
  <p>
    <%= article.content %>
  </p>
  <a href="/articles">Back to Articles</a>
</body>

</html>